*{
    margin: 0;
    padding: 0;
}


header{
    border: 1px red solid;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    font-size: 20px;
    text-decoration: none;
    
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.logo{
    margin-left: 25%;
}

.login{
    margin-right: 25%;
}